@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  margin: 80px auto;
  display: grid;
  width: 600px;
  height: 400px;
  border-radius: 8px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  grid-template-columns: 50% 50%;
}

.dice {
  position: absolute;
  width: 7rem;
  height: 7rem;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the element */
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.btn {
  position: absolute;
  width: fit-content;
  height: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(
    to right,
    #bf2e34 0%,
    #650a77 51%,
    #bf2e34 100%
  );
  border: transparent;
  border-radius: 22px;
  padding: 0 20px;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 6px #eee;
}
.btn--new {
  top: 12rem;
}
.btn--roll {
  top: 34rem;
}
.btn--hold {
  top: 40rem;
}
.btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.player {
  font-size: large;
  margin-top: 32px;
  justify-content: space-between;
  flex: 50%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}
.name {
  position: relative;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  text-align: center;
  color: #333; 
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color: #620b24;
  margin-bottom: auto;
}

/* .player--active {
  background-color: rgba(255, 255, 255, 0.4);
} */
/* .player--active .name {
  font-weight: 700;
} */
/* .player--active .score {
  font-weight: 400;
} */

/* .player--active .current {
  opacity: 1;
} */
.current {
  background-color: #c7365f;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  opacity: 0.8;
  border-radius: 8px;
  color: #fff;
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
}
.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #ddd;
}

.current-score {
  font-size: 3.5rem;
}
